.footer_cont {
    margin-left: 120px;
    .footer_info {
        @include flex (row, space-around, center, nowrap);
        .footer_block{
            @include flex (row, center, center, nowrap);
            color: $color_text_b;
            width: 33%;
            svg {
                margin-right: 15px;
            }
            &:hover {
                color: $color_spec;
                svg{
                    fill: $color_spec;
                }
            }
        }
    }
    iframe {
        width: 100%;
        filter: grayscale(100%);
    }
}

@media (max-width: $notebook){
    .footer_cont {
        margin-left: 90px;
    }
}

@media (max-width: $tablet) {
    .footer_cont {
        margin-left: 0px;
        .footer_info {
            @include flex (column, space-around, center, nowrap);
            .footer_block{
                @include flex (row, flex-start, center, nowrap);
                color: $color_text_b;
                width: 180px;  
                margin-bottom: 15px;
            }
        }
    }
}