// .gallery {
//     &::before {
//         content: '';
//         display: block;
//         background: linear-gradient(0deg, var(--color-text-1) 0%, var(--color-spec-3) 100%);
//         height: 150px;
//         width: 100%;
//     }
//     &::after {
//         content: '';
//         display: block;
//         background: linear-gradient(0deg, var(--color-spec-3) 0%, var(--color-text-1) 100%);
//         height: 150px;
//         width: 100%;
//     }
// }

// .gallery_cont {
//     margin-top: 150px;
// }

.gallery-swiper-slide {
    max-width: 465px;
    max-height: 400px;
    margin-bottom: 75px;
    img {
        width: 100%;
        height: 430px;
        object-fit: cover;
    }
}

.swiper-pagination-bullet {
    background-color: $color_spec;
}
.swiper-button-prev-gallery,
.swiper-button-next-gallery {
    color: $color_spec;
}