$pc: 1440px;
$notebook: 900px;
$tablet: 720px;
$mobile: 420px;
$mobile-mini: 320px;


// ------------pc-first---------
.conteiner {
    // width: 1440px;
    margin: 0 auto;
    padding: 0px 80px;
}
    
@media (max-width: $pc){
    .conteiner {
        // width: 900px;
        padding: 0px 50px;

    }
}

@media (max-width: $notebook){
    .conteiner {
        // width: 720px;
        padding: 0px 30px;
    }
    main {
        margin-left: 90px;
    }
}

@media (max-width: $tablet) {
    .conteiner{
        // width: 420px;
    }
    main {
        margin-left: 0px;
    }
    
}

@media (max-width: $mobile) {
    .conteiner {
        // width: 320px;
    }

    section {
        margin: 50px 0px;
        h2 {
            font-size: 39px;
        }
        h4 {
            font-size: 16px;
            margin-top: 25px;
        }
    }
}



// ----------mobile-first----------
// .conteiner {
//     padding: 0px 15px;
// }

// @media screen and (min-width: $mobile) {
//     .conteiner {
//         width: 450px;
//         margin: 0 auto;
//     }
// }

// @media screen and (min-width: $notebook) {
//     .conteiner {
//         padding: 0px;
//         width: 738px;
//     }
//   }

// @media screen and (min-width: $pc) {
//     .conteiner {
//         width: 1170px;
//     }
//   }
