.nav_cont {
    position: fixed;
    @include flex (column, space-around, center, nowrap);
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 0px;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    transition: all 1.9 s ease;
    &._active {
        width: 120px;
    }
}

.nav_menu {
        @include flex (column, space-around, center, nowrap);
        height: 100%;
        width: 100%;
        .nav_logo {
            padding: 50px 0px;
            cursor: pointer;
            font-family: 'Michroma', sans-serif;
        }
}

.nav_menu {
    .nav-list {
        height: 100%;
        width: 100%;
        @include flex (column, space-between, center, nowrap);
        .nav_item {
            cursor: pointer;
            width: 100%;
            height: 20%;
            .nav_item-link {
                @include flex (column, center, center, nowrap);
                width: 100%;
                height: 100%;
                color: #fff;
                text-transform: uppercase;
                svg {
                    fill: rgb(255, 255, 255);
                    width: 35px;
                    height: 35px;
                    pointer-events: none;
                }
                p {
                    padding-top: 20px;
                    pointer-events: none;
                }
                &.active-link {
                    background-color: rgb(225, 153, 68);
                }
                &:hover{
                    background-color: rgb(245, 150, 41) !important;
                    position: relative;
                    z-index: 1000;
                }
            }
           
        }
    }
}

.language_block {
    margin: 15px 0px;
    font-size: 18px;
    select {
        background-color: $color_text_b;
        border: none;
        color: $color_text_w;
        appearance: none;
        cursor: pointer;
        margin-left: 5px;
    }
}

.hum_cont {
    display: none;
}

.ham_menu {
    @include flex (column, flex-start, flex-end, nowrap);
    margin-right: 15px;
    cursor: pointer;
    display: none;
    .ham_menu_line {
        display: block;
        width: 35px;
        height: 4px;
        margin-bottom: 5px;
        background: $color_text_w;
    }
}

// .hum_info_block {
//     @include flex (row, flex-start, flex-end, nowrap);
// }

// -------------------notebook------------------

@media (max-width: $notebook){
    .nav_cont {
        width: 90px;
        font-size: 13px;
        &._active {
            width: 90px;
        }
    }

    .nav_menu {
        ul {
        .nav_item {
            svg {
                width: 30px;
                height: 30px;
            }
        }  
      }
    }
} 

// -------------------tablet------------------

@media (max-width: $tablet) {
    .nav_cont  {
        width: 100vw;
        height: 100vh;
        top: -1100px;
        transition: all 1s;
        &.active {
            overflow: hidden;
            top: 0px;
        }
        &._active {
            width: 100vw;
        }
    }

    .nav_logo {
        font-family: 'Michroma', sans-serif;
        &.active {
            display: none;
        }
    }

    .nav_menu {
        .nav-list{
            padding-top: 90px;
            .nav_item {
                @include flex (row, center, center, nowrap);
                .nav_item-link {
                    @include flex (row, center, center, nowrap);
                    svg {               
                        width: 35px;
                        height: 35px;
                        margin-right: 15px;
                        }
                    p {
                        padding-top: 0;
                        }
                a {
                    padding: 45px 0px 30px 25px;
                }
            }
        }    
    }
}

    .language_block {
        @include flex (row, center, center, nowrap);
        margin-bottom: 55px;
        div {
            font-size: 22px;
            cursor: pointer;
            padding: 15px 25px;
            &:hover {
                color: rgb(225, 153, 68);
            }
        }
    }
    
    .hum_cont {
        @include flex (row, space-between, center, nowrap);
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.819765406162465) 90%, rgba(0,0,0,0) 100%);
        width: 100%;
        height: 90px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        color: #fff;
        transform: translate(0px, -50%);
        opacity: 0;
        transition: all 1.2s ease;
        &._active {
            transform: translate(0px, 0px);
            opacity: 1;
       }
        svg {
            fill: #fff;
            width: 30px;
            height: 30px;
            padding: 2px 5px 0px;
            margin-left: 10px;
        }
        a {
            color: #fff;
            font-size: 24px;
            letter-spacing: 1px;
            &:hover {
                div {
                    transition: 0.5s;
                    color: rgb(225, 153, 68);
                }
                svg {
                    transition: 0.5s;
                    fill:  rgb(225, 153, 68);
                }
            }
            div {
                font-family: 'Barlow Condensed', sans-serif;
            }
        }
    }


    .hum_logo {
        text-align: center;
        width: 70%;
        h1 {
            font-family: 'Michroma', sans-serif;
            font-size: 38px;
            margin: 0px 0px 0px 0px;
        }
        p {
            font-family: 'Caveat', cursive;
            font-size: 35px;
        }
    }

    .ham_menu {
        display: block;
        &.active {
            & .ham_menu_line {
                transition: all .4s ease-in-out;
                &:nth-child(1) { 
                    transform: translateY(10px) rotate(45deg); }
                &:nth-child(2) { 
                    opacity: 0; }
                &:nth-child(3) { 
                    transform: translateY(-8px) rotate(-45deg); }
                }
            }
    }
}

@media (max-width: $mobile) {
    .hum_logo {
        h1 {
            font-size: 33px;
        }
        p {
            font-size: 28px;
        }
    }

    .hum_cont {
        font-size: 11px;
        a {
            font-size: 20px;
            padding-top: 10px;
        }
    }

    .ham_menu {
        @include flex (column, flex-end, flex-end, nowrap);

    }

    .ham_local {
        display: none;
       }
    
        .hum_cont {
            svg {
                width: 35px;
                height: 35px;
                padding: 2px 5px 0px;
            }
        }
}

@media (max-width: $mobile-mini) {
    .hum_logo {
        h1 {
            font-size: 33px;
        }
        p {
            font-size: 24px;
        }
    }

    .hum_cont {
        a {
            font-size: 16px;
            padding-top: 10px;
        }
    }

    .hum_time {
        display: none;
    } 
}
// @media (max-width: $notebook) { 
    //     .ham_menu {
    //         position: relative;
    //         display: block;
    //     }
    
    //     .nav_menu {
    //         @include flex (column, center, flex-end, wrap);
    //         position: fixed;
    //         transition: all .5s ease-in-out;
    //         display: none;
    //         z-index: 10;
    //         width: 100%;
    //         height: 100%;
    //         top: 0;
    //         left: 0;
    //         background: #fff;
    //         a { 
    //             font-size: 50px;
    //             color: green;
    //             padding: 15px 10px;
    //         }
    //             &:hover {
    //                 color: rgb(18, 34, 18);
    //             }
    //         &.active {
    //             display: block;
    //             overflow: hidden;
    //         }
    //         .nav_item {
    //             position: relative;
    //             margin: 0 auto;
    //             text-align: center;
    //             width: 70%;
    //             top: 10%;
    //             background: none;
    //             margin-bottom: 50px;
    //         }
    //     }
    
    //     .ham_menu {
    //         z-index: 1000;
    //         position: relative;
    //         top: 0;
    //         left: 0;
    //         // left: 80%;
    //         &.active {
    //             position: fixed;
    //             top: 0;
    //             left: 80%;
    //             & .ham_menu_line {
    //             transition: all .4s ease-in-out;
    //                 &:nth-child(1) { 
    //                     transform: translateY(10px) rotate(45deg); }
    //                 &:nth-child(2) { 
    //                     opacity: 0; }
    //                 &:nth-child(3) { 
    //                     transform: translateY(-8px) rotate(-45deg); }
    //             }
    //         }
    //     }
    // }